.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1a302186;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(245, 236, 157, 0.452);
  font-size: 4em;
  font-weight: 700;
}

body {
  background-color: #1a302186;
}

#motto {
  background-color: #1a302186;
  color: #cbdb8486;
  font-size: 2em;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#otto {
  background-color: #f0f5f202;
  color: #cbdb8486;
  font-size: 2em;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}